@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Sign In</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="@Url.Action("Index","Home")">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">Sign In</li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content" ng-controller="SignIn">
            <div class="row">
                <article class="contact-form col-md-8 col-sm-7  page-row">
                    <h3 class="title">Create New Account</h3>
                    <p>We’d love to hear from you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut erat magna. Aliquam porta sem a lacus imperdiet posuere. Integer semper eget ligula id eleifend. </p>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;">
                        <div class="form-group phone">
                            <label for="FirstName">First Name</label>
                            <input type="hidden" ng-model="MST.User_Id" />
                            <input type="hidden" ng-model="MST.OTP" value="000000" />
                            <input type="hidden" ng-model="MST.Is_Active" value="false" />
                            <input ng-model="MST.FirstName" type="text" class="form-control" placeholder="Enter first name" required ngMessage="Please required first name" ngvalGroup="sUser">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right: 0px;">
                        <div class="form-group phone">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter last name" required ngMessage="Please required last name" ng-model="MST.LastName" ngvalGroup="sUser">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;">
                        <div class="form-group phone">
                            <label for="Email">Email Id</label>
                            <input type="text" class="form-control" placeholder="Enter email address" required ngMessage="Please required email address" ng-model="MST.Email" ngvalGroup="sUser">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right: 0px;">
                        <div class="form-group phone">
                            <label for="MobileNo">Mobile No</label>
                            <input type="tel" class="form-control" placeholder="Enter mobile no" required ngMessage="Please required mobile no" ng-model="MST.MobileNo" ngvalGroup="sUser">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;">
                        <div class="form-group phone">
                            <label for="phone">User Name</label>
                            <input type="text" class="form-control" placeholder="Enter username" required ngMessage="Please required username" ng-model="MST.UserName" ng-blur="CheckUser(MST)" ngvalGroup="sUser">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group message">
                        <label for="Address">Address<span class="required">*</span></label>
                        <textarea class="form-control" rows="3" placeholder="Enter address." required ngMessage="Please required address..." ng-model="MST.Address" ngvalGroup="sUser"></textarea>
                    </div><!--//form-group-->
                    <button type="button" class="btn btn-theme" ng-click="SaveUser(MST)">Register</button>
                </article>

                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                    <section class="widget has-divider contact-form">
                        <h3 class="title">Login</h3>
                        <div class="form-group name">
                            <label for="name">User Name<span class="required">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter UserName" required ngMessage="Please required UserName..." ng-model="UserName" ngvalGroup="sIn">
                        </div>
                        <div class="form-group name">
                            <label for="name">Passward<span class="required">*</span></label>
                            <input type="password" class="form-control" placeholder="Enter OTP" required ngMessage="Please required OTP..." ng-model="OTP" ngvalGroup="sIn">
                        </div>
                        <button type="button" class="btn btn-theme" ng-click="SignInUser()">Sign In</button>
                    </section>
                    <section class="widget has-divider">
                        <h4 class="title">Address:</h4>
                        <p class="adr">
                            <span class="adr-group">
                        <p style="font-weight:600;">Meet Corporations</p>
                        <span class="street-address">S-7,Shreeji Complex,</span><br>
                        <span class="region">Near Hirabaug , Varachha Road,</span><br>
                        <span class="postal-code">Surat : 395006, Gujarat,</span><br>
                        <span class="country-name">India</span>
                        </span>
                        </p>
                    </section>

                    <section class="widget">
                        <h3 class="title">All Enquiries:</h3>
                        <p class="tel"><i class="fa fa-phone"></i>Tel: 0091-261-3192936</p>
                        <p class="email"><i class="fa fa-envelope"></i>Email:info@meetcorporations.com</p>
                    </section>

                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-wrapper-->
</div>
<script>
    module = angular.module('app', []);
    module.controller("SignIn", ['$scope', '$filter', '$http', '$q', '$interval', function ($scope, $filter, $http, $q, $interval, $window) {
        $scope.MST = {};

        $scope.SaveUser = function () {
            if (ValidateRequired("sUser") == false) {
                return;
            };
            var response = $http({
                method: "POST",
                async: true,
                url: '@Url.Action("SaveUser", "SignIn")',
                data: { model: $scope.MST },
                dataType: "json",
            }).success(function (data) {
                if (data != 0) {
                    toast('Register sucessfully completed. !!!');
                    $scope.MST = {};
                }
                else {
                    toastr.warning("Please contact to meet corporation...");
                }
            });
        }
        $scope.CheckUser = function () {
            if ($scope.MST.UserName == "") {
                return;
            };
            var response = $http({
                method: "POST",
                async: true,
                url: '@Url.Action("CheckUser", "SignIn")',
                data: { UserName: $scope.MST.UserName },
                dataType: "json",
            }).success(function (data) {
                if (data != "") {
                    if (data == -2) {
                        toastr.warning("Oops Some thing is wrong...");
                    }
                    else if (data == 0) {
                        toastr.warning("User is allready exist...");
                    }
                }
                else {
                    toastr.warning("Please contact to meet corporation...");
                }
            });
        }
        $scope.SignInUser = function () {
            if (ValidateRequired("sIn") == false) {
                return;
            };
            var response = $http({
                method: "POST",
                async: true,
                url: '@Url.Action("SaveUser", "SignIn")',
                data: { UserName: $scope.UserName, OTP: $scope.OTP },
                dataType: "json",
            }).success(function (data) {
                if (data != 0) {
                    toast('WelCome To Meet Corporation. !!!');
                }
                else {
                    toastr.warning("Please contact to meet corporation...");
                }
            });
        }
    }]);

</script>