@{
    ViewBag.Title = "Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Inquiry</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="@Url.Action("Index","Home")">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Inquiry</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
                <div class="page-content"> 
                    <div class="row">
                        <article class="contact-form col-md-8 col-sm-7  page-row">                            
                            <h3 class="title">Get in touch</h3>
                            <p>We’d love to hear from you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut erat magna. Aliquam porta sem a lacus imperdiet posuere. Integer semper eget ligula id eleifend. </p>
                            <form>
                                <div class="form-group name">
                                    <label for="name">Name<span class="required">*</span></label>
                                    <input id="name" type="text" class="form-control" placeholder="Enter your name">
                                </div>
                                <div class="form-group name">
                                    <label for="Adress">Adress</label>
                                    <textarea id="Adress" class="form-control" rows="3" placeholder="Enter your address"></textarea>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;">
                                    <div class="form-group email">
                                        <label for="email">Email<span class="required">*</span></label>
                                        <input id="email" type="email" class="form-control" placeholder="Enter your email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right: 0px;">
                                    <div class="form-group phone">
                                        <label for="phone">Phone<span class="required">*</span></label>
                                        <input id="phone" type="tel" class="form-control" placeholder="Enter your contact number">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;">
                                    <div class="form-group phone">
                                        <label for="phone">City</label>
                                        <input id="phone" type="tel" class="form-control" placeholder="Enter your city">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right: 0px;">
                                    <div class="form-group phone">
                                        <label for="phone">State</label>
                                        <input id="phone" type="tel" class="form-control" placeholder="Enter your state">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;">
                                    <div class="form-group phone">
                                        <label for="phone">Country</label>
                                        <input id="phone" type="tel" class="form-control" placeholder="Enter your country">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right: 0px;">
                                    <div class="form-group phone">
                                        <label for="phone">Company Name</label>
                                        <input id="phone" type="tel" class="form-control" placeholder="Enter your company name">
                                    </div>
                                </div>
                                <div class="form-group message">
                                    <label for="message">Your Inquiry<span class="required">*</span></label>
                                    <textarea id="message" class="form-control" rows="6" placeholder="Enter your inquiry here..."></textarea>
                                </div><!--//form-group-->
                                <button type="submit" class="btn btn-theme">Submit</button>
                            </form>                  
                        </article>
                        
                        @Html.Partial("_QuickContact")
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-wrapper--> 
        </div>
