@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Product<small> ( A.R INFRA DEVELOPER )</small></h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="@Url.Action("Home","Index")">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Product</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
                <div class="page-content">    
                    <div class="page-row">
                        <blockquote class="custom-quote">
                            <p><i class="fa fa-quote-left"></i>A R INFRA DEVELOPER <i class="fa fa-quote-right"></i> is Specially in Land Development & Infrastructure for Shopping Complex , Commercial Buildings , Resident Project like Raw House , Low Rise Buildings , High Rise Buildings , Bungalows .</p>
                            <p class="people">
                                <span class="name"></span>
                                <br>
                                <span class="title">A.R INFRA DEVELOPER</span>
                            </p>
                        </blockquote>
                        <h3 class="page-row text-muted">DREAM MAKING TRUTH</h3>
                    </div>
                    <div class="page-row">
                        
                        <p>We are also Interested in Government & Private Project as a Contract Base with Building Materiel or without Building Materiel ( job work ) , As per Contract We are Finish our Job Work Because we have Large & Good Experience Worker Staff.</p>
                        <p>We are also do as per Customer Requirement Construction With Good & Best Quality Construction materiel & We also have Large & Good Experience Worker staff . Our Company Motto is</p>                            
                    </div>
                    <div class="row page-row">
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                
                                <a class="prettyphoto" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="~/Content/New_Images/ar-infra-img1.jpg">
                                    <img class="img-responsive" src="~/Content/New_Images/ar-infra-img1.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Lorem Ipsum</a></small></h4>
                                    <p>Integer ornare nisl tortor, sed condimentum metus pulvinar ut. Etiam ac pretium nunc. Donec porttitor erat non nibh pellentesque vehicula. Vestibulum tincidunt</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a class="prettyphoto" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="~/Content/New_Images/ar-infra-img2.jpg">
                                    <img class="img-responsive" src="~/Content/New_Images/ar-infra-img2.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Ornare</a></small></h4>
                                    <p>Aenean dictum urna nec ligula consectetur, id ornare leo tincidunt. Praesent ut tempor nibh. Sed eleifend, elit at ornare pretium, lorem mauris convallis arcu</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a class="prettyphoto" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="~/Content/New_Images/ar-infra-img3.jpg">
                                    <img class="img-responsive" src="~/Content/New_Images/ar-infra-img2.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a class="prettyphoto" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="~/Content/New_Images/ar-infra-img4.jpg">
                                    <img class="img-responsive" src="~/Content/New_Images/ar-infra-img4.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a class="prettyphoto" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="~/Content/New_Images/ar-infra-img5.jpg">
                                    <img class="img-responsive" src="~/Content/New_Images/ar-infra-img5.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a class="prettyphoto" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="~/Content/New_Images/ar-infra-img6.jpg">
                                    <img class="img-responsive" src="~/Content/New_Images/ar-infra-img6.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>
                        
                    </div><!--//page-row-->
                    
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->